


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}
.Square {
    position: relative;
    width: 5%;
    background-color: red;
  }
  
  .Square_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }